<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876454143376-2s43dpod0g2ros7v31bl4evdu4himup0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876454143376-2s43dpod0g2ros7v31bl4evdu4himup0</string>
	<key>API_KEY</key>
	<string>AIzaSyCB2J4BLZsOgrx6t0Jnh1b24ooFGYJpeHA</string>
	<key>GCM_SENDER_ID</key>
	<string>876454143376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esh.ameen</string>
	<key>PROJECT_ID</key>
	<string>ameen-security</string>
	<key>STORAGE_BUCKET</key>
	<string>ameen-security.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876454143376:ios:e962c6803342cfe9907f15</string>
</dict>
</plist>